/*--- John McCutchan ---*/
/* Built with Bootstrap, mobile first */
/*============ Structure ===============*/
.containerHeight{
  height: 800px;
}
header{
  height: 150px;
}
h1{
  line-height: 150px;
  margin: 0 auto;
  text-align: center;
}
section{
  height: 320px;
}
form{
  margin-top: 50px;
}
fieldset{
  padding: .35em .625em .75em;
  margin: 0 2px;
}
legend.scheduler-border {
  width:auto;
  padding:0 10px;
}
legend{
  width: inherit;
}
label:nth-of-type(2){
  margin-top: 10px;
}
button{
  margin-top: 20px;
}
.border{
  height: 300px;
  margin:10px 0;
}
#displayTree{
  height:300px;
}
footer{
  height:50px;
  position: absolute;
  bottom:0;
}
/*============ Structure END ===========*/
/*============ Skin ====================*/
body{
  background-color: black;
}
.container{
  background-color: white;
}
header{
  background-color: rgba(17, 110, 63,1.0);
  color: rgba(255, 255, 255,1.0);
  border-bottom: 10px solid rgba(192, 57, 43,1.0);
}
header h1{
  font-family: Palatino;
  letter-spacing: 3px;
  font-size: 3em;
}
.border{
  border: 2px solid rgba(192, 57, 43,0.6);
}
fieldset{
  border: 1px solid silver;
}
legend.scheduler-border {
  border-bottom:none;
}
legend{
  border:none;
  font-weight: bolder;
}
footer{
  background-color: rgba(17, 110, 63,1.0);
  color: rgba(255, 255, 255,1.0);
  font-family: Palatino;
}
input{
  padding: 5px 10px;
}
button{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(17, 110, 63,1.0);
  color: rgba(255, 255, 255,1.0);
}
li{
  list-style-type: none;
  text-align: center;
}
/*============ Skin END ================*/
